# BEWARE, DO NOT PUSH THIS AND OVERWRITE EXISTING CONFIG!
# YOU NEED TO UPDATE THE REMOTE WRITE BLOCK WITH URL & AUTH
global:
  scrape_interval: 15s

# YOU CAN COPY THIS REMOTE WRITE BLOCK FROM GRAFANA.COM (not .net)
remote_write:
  - url: ""
    basic_auth:
      username:
      password:

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
    relabel_configs:
      - source_labels: [__address__]
        regex: "localhost:9090"
        target_label: instance
        replacement: "prometheus"

  - job_name: node_exporter
    static_configs:
      - targets: ["localhost:9100"]
    relabel_configs:
      - source_labels: [__address__]
        regex: "localhost:9100"
        target_label: instance
        replacement: "Pi-node-exporter"

  - job_name: "nas"
    static_configs:
      - targets: ["localhost:9116"]
    metrics_path: /snmp
    params:
      auth: [synology]
      module: [if_mib, synology]
    relabel_configs:
      - source_labels: [__address__]
        regex: (.*)
        target_label: __param_target
        replacement: 192.168.68.15
      - source_labels: [__param_target]
        target_label: instance

  - job_name: "snmp_exporter"
    static_configs:
      - targets: ["localhost:9116"]

  - job_name: "network-monitor"
    static_configs:
      - targets: ["localhost:8080"]
