[Unit]
Description=SNMP Exporter
Documentation=https://github.com/prometheus/snmp_exporter
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Restart=on-failure
ExecStart=/opt/snmp_exporter \
  --web.listen-address=localhost:9116 \
  --config.file=/etc/snmp_exporter/snmp.yaml

[Install]
WantedBy=multi-user.target
